.contact-section {
  padding: 40px 0;
}


.contact-section h1 {
  text-align: center;
  padding: 5px;
}

.contact-border {
  width: 100px;
  height: 4px;
  background: #687691;
  margin: 20px auto;
}

.contact-form {
  max-width: 600px;
  margin: auto;
  padding: 0px 10px;
  overflow: hidden;
}

.contact-text {
  display: block;
  width: 100%;
  margin: 16px 0;
  border: 0;
  background: rgb(226, 226, 226);
  padding: 20px 40px;
  outline: none;
  color: #687691;
  transition: 0.5s;
}

.contact-text:focus{
  box-shadow: 0 0 10px 4px #687691;
  background: rgb(226, 226, 226);
  opacity: 0.9;
}

textarea.contact-text{
  resize: none;
  height: 120px;
}

.contact-btn{
  float: right;
  border: 0;
  background: #687691;
  color: rgb(226, 226, 226);
  padding: 12px 50px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.5s;
}
.contact-btn:hover{
  background: black;
}
